/* *{
    box-sizing: border-box;
}
.grid{
    background-color:green;
    max-width:1200px;
}

.grid-sizer,
.grid-item {
     height:120px;
     background-color: orangered;
     border:1px solid black;
     float: left;
    }
.grid-item-width2 {
     width:40%;
     
    }
    .grid-item-width-3{
        width:60%;
    }
    .grid-item-height-2{
        width:200px;
    }
    .grid-item-height-3{
        width:260px;
    } */

    .grid-item { width: 200px; }
    .grid-item--width2 { width: 400px; }