
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    font-style: normal;
  }

  #contact_one {
    background: url('https://images.pexels.com/photos/1040473/pexels-photo-1040473.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center fixed;
    background-size: cover;
    background-color: grey;
    width: 100%;
    height: 500px;
    position: relative;
  }
  #contact_one .contact_one_text{

    font-family: 'Roboto';
    text-align: center;
    padding-top: 210px;
    font-size: 45px;
    color: white;
  }

  @keyframes locationcent {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .contactussection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 100px auto;
    width: 80%;
    grid-column-gap: 120px;
  }

  .contactussection a {
    text-decoration: none;
    color: inherit;
  }

  .contactussection input,
  .contactussection textarea {
    outline: none;
  }

  .contactussection .socials i {
    cursor: pointer;
  }

  h4 {
    padding: 15px 10px;
    font-size: 30px;
  }

  input,
  textarea,
  button {
    text-decoration: none;
    padding: 12px 20px;
    border: 1px solid #144673;
    border-radius: 8px;
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  .contactussection input {
    width: 48%
  }

  .contactussection input[type='button'],
  textarea {
    width: 100%
  }

  @keyframes shake {

    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .contactussection input[type='button']:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .contactussection input[type='button'] {
    background: #644181;
    color: white;
    cursor: pointer;
  }

  button {
    border: 1px solid #F5FAFF;
    color: #F5FAFF;
    padding: 5px !important;
    background: none;
    margin-top: 15px;
    width: 100%;
  }

  .required div {
    display: flex;
    justify-content: space-between;
  }

  .inline {
    display: flex;
    width: 100%;
    align-items: baseline;
    font-size: 20px;
  }
  .inline a{
    color: red;
  }

  i {
    padding: 10px;
  }

  @media only screen and (max-width: 767px) {
    .contactussection {
      grid-template-columns: 1fr;
    }

    aside {
      margin-top: 90px;
    }

    .specialoffer {
      display: none;
    }

    .required div {
      display: block;
    }

    input {
      width: 100%
    }
  }