body{
    padding-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
}
body .img{
    height: 720px;
    width: 1080px;
}
.scroll{
    border: 1px solid red;
    padding: 5px;
    margin-top: 5px;
    width: 400px;
    height: 100px;
    overflow:scroll;
}

.auto{
    border: 1px solid red;
    padding: 5px;
    margin-top: 5px;
    width: 400px;
    height: 100px;
    overflow: auto;
}

.hidden{
    border: 1px solid red;
    padding: 5px;
    margin-top: 5px;
    width: 400px;
    height: 100px;
    overflow: hidden;
}
.visible{
    border: 1px solid red;
    padding: 5px;
    margin-top: 5px;
    width: 400px;
    height: 100px;
    overflow: visible;
}

a:visited{
    color: red;
}
a:hover{
    color: green;
    font-size: 44px;
    text-decoration: none;
}

a:active{
    color: grey;
}
a:link{
    color: brown;
}

.div1{
    border: 2px solid green;
    padding: 5px;
    position: static;
    height: 300px;
    width: 700px;
}


.div2{
    border: 2px solid red;
    padding: 5px;
    position: static;
    height: 300px;
    width: 700px;
}